USE [APXFirm]
GO
/****** Object:  Table [APXUserCustom].[AssetClassHierarchy]    Script Date: 11/20/2015 14:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [APXUserCustom].[AssetClassHierarchy](
	[AssetClass1] [nvarchar](255) NULL,
	[AssetClass2] [nvarchar](255) NULL,
	[AssetClass3] [nvarchar](255) NULL
) ON [PRODDATA]
GO
